In [3]:
import pandas as pd
import numpy as np

In [38]:
data = pd.read_csv('atp_matches_2000.csv')
data

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2000-301,Auckland,Hard,32,A,20000110,1,103163,1.0,NaN,...,55.0,39.0,29.0,17.0,4.0,7.0,11.0,1612.0,63.0,595.0
1,2000-301,Auckland,Hard,32,A,20000110,2,102607,NaN,Q,...,32.0,25.0,18.0,12.0,3.0,6.0,211.0,157.0,49.0,723.0
2,2000-301,Auckland,Hard,32,A,20000110,3,103252,NaN,NaN,...,33.0,20.0,7.0,8.0,7.0,11.0,48.0,726.0,59.0,649.0
3,2000-301,Auckland,Hard,32,A,20000110,4,103507,7.0,NaN,...,43.0,29.0,14.0,10.0,6.0,8.0,45.0,768.0,61.0,616.0
4,2000-301,Auckland,Hard,32,A,20000110,5,102103,NaN,Q,...,46.0,34.0,18.0,12.0,5.0,9.0,167.0,219.0,34.0,873.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3373,2000-615,Dusseldorf,Clay,64,A,20000521,286,103163,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,1223.0,2.0,3343.0
3374,2000-615,Dusseldorf,Clay,64,A,20000521,283,102783,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,550.0,49.0,780.0
3375,2000-615,Dusseldorf,Clay,64,A,20000521,279,103498,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,1732.0,73.0,579.0
3376,2000-615,Dusseldorf,Clay,64,A,20000521,278,103163,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,1223.0,7.0,1890.0
3377,2000-615,Dusseldorf,Clay,64,A,20000521,275,102025,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,65.0,662.0,76.0,550.0

In [39]:
# Concat the data from 2001 to 2022
for i in range(1, 22):
    data = pd.concat([data, pd.read_csv('atp_matches_20' + str(i).zfill(2) + '.csv')])
data.index = range(0,len(data)) 
data

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2000-301,Auckland,Hard,32,A,20000110,1,103163,1.0,NaN,...,55.0,39.0,29.0,17.0,4.0,7.0,11.0,1612.0,63.0,595.0
1,2000-301,Auckland,Hard,32,A,20000110,2,102607,NaN,Q,...,32.0,25.0,18.0,12.0,3.0,6.0,211.0,157.0,49.0,723.0
2,2000-301,Auckland,Hard,32,A,20000110,3,103252,NaN,NaN,...,33.0,20.0,7.0,8.0,7.0,11.0,48.0,726.0,59.0,649.0
3,2000-301,Auckland,Hard,32,A,20000110,4,103507,7.0,NaN,...,43.0,29.0,14.0,10.0,6.0,8.0,45.0,768.0,61.0,616.0
4,2000-301,Auckland,Hard,32,A,20000110,5,102103,NaN,Q,...,46.0,34.0,18.0,12.0,5.0,9.0,167.0,219.0,34.0,873.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65922,2021-9210,Laver Cup,Hard,8,A,20210924,102,126610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5173.0,11.0,3368.0
65923,2021-9210,Laver Cup,Hard,8,A,20210924,103,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,10575.0,12.0,3310.0
65924,2021-9210,Laver Cup,Hard,8,A,20210924,104,126094,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6130.0,15.0,2800.0
65925,2021-9210,Laver Cup,Hard,8,A,20210924,105,100644,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,7760.0,22.0,2171.0
65926,2021-9210,Laver Cup,Hard,8,A,20210924,106,134770,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,3440.0,19.0,2341.0

In [40]:
# Export the data to a csv file
data.to_csv('atp_matches_2000-2022.csv', index=False)

In [41]:
# Delete columns that are not needed
data = data.drop(columns=['tourney_id', 'tourney_name', 'draw_size', 'tourney_date', 'match_num', 'winner_seed', 'winner_name', 'loser_seed', 'loser_name', 'best_of', 'score', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', 'loser_ioc', 'winner_ioc', 'round'])

In [42]:
data

,surface,tourney_level,winner_id,winner_entry,winner_hand,winner_ht,winner_age,loser_id,loser_entry,loser_hand,loser_ht,loser_age,minutes,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,Hard,A,103163,NaN,R,188.0,21.7,101543,NaN,L,180.0,31.1,108.0,11.0,1612.0,63.0,595.0
1,Hard,A,102607,Q,R,190.0,24.5,102644,NaN,L,183.0,24.3,85.0,211.0,157.0,49.0,723.0
2,Hard,A,103252,NaN,R,175.0,21.3,102238,NaN,R,173.0,26.5,56.0,48.0,726.0,59.0,649.0
3,Hard,A,103507,NaN,R,183.0,19.9,103819,NaN,R,185.0,18.4,68.0,45.0,768.0,61.0,616.0
4,Hard,A,102103,Q,R,180.0,27.3,102765,NaN,R,185.0,23.7,115.0,167.0,219.0,34.0,873.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65922,Hard,A,126610,NaN,R,196.0,25.4,200000,NaN,R,193.0,21.1,NaN,7.0,5173.0,11.0,3368.0
65923,Hard,A,106421,NaN,R,198.0,25.6,133430,NaN,L,185.0,22.4,NaN,2.0,10575.0,12.0,3310.0
65924,Hard,A,126094,NaN,R,188.0,23.9,106043,NaN,R,170.0,29.0,NaN,5.0,6130.0,15.0,2800.0
65925,Hard,A,100644,NaN,R,198.0,24.4,104545,NaN,R,206.0,36.4,NaN,4.0,7760.0,22.0,2171.0
65926,Hard,A,134770,NaN,R,183.0,22.7,124187,NaN,R,211.0,24.0,NaN,10.0,3440.0,19.0,2341.0

In [43]:
## Superficies
## Hard: 0, Clay: 1, Grass: 2, Carpet: 3
## Hands
## Right: 0, Left: 1, Unknown: 2
## Tourney entrys
## Main Draw(NaN): 0, Qualifier (Q): 1, Lucky Loser (LL): 2, Protected Ranking (PR): 3, Wild Card (WC): 4
## Tourney level
## D: 0, A: 1, M: 2, F: 3, G: 4

# Replace the superficies with numbers
data['surface'] = data['surface'].replace('Hard', 0)
data['surface'] = data['surface'].replace('Clay', 1)
data['surface'] = data['surface'].replace('Grass', 2)
data['surface'] = data['surface'].replace('Carpet', 3)

In [44]:
# Replace the hands with numbers
data['winner_hand'] = data['winner_hand'].replace('R', 0)
data['winner_hand'] = data['winner_hand'].replace('L', 1)
data['winner_hand'] = data['winner_hand'].replace('U', 2)
data['loser_hand'] = data['loser_hand'].replace('R', 0)
data['loser_hand'] = data['loser_hand'].replace('L', 1)
data['loser_hand'] = data['loser_hand'].replace('U', 2)

In [45]:
# Replace the tourney entrys with numbers
data['winner_entry'] = data['winner_entry'].replace(np.nan, 0)
data['winner_entry'] = data['winner_entry'].replace('Q', 1)
data['winner_entry'] = data['winner_entry'].replace('LL', 2)
data['winner_entry'] = data['winner_entry'].replace('PR', 3)
data['winner_entry'] = data['winner_entry'].replace('WC', 4)
data['loser_entry'] = data['loser_entry'].replace(np.nan, 0)
data['loser_entry'] = data['loser_entry'].replace('Q', 1)
data['loser_entry'] = data['loser_entry'].replace('LL', 2)
data['loser_entry'] = data['loser_entry'].replace('PR', 3)
data['loser_entry'] = data['loser_entry'].replace('WC', 4)

In [46]:
# Replace the tourney level with numbers
data['tourney_level'] = data['tourney_level'].replace('D', 0)
data['tourney_level'] = data['tourney_level'].replace('A', 1)
data['tourney_level'] = data['tourney_level'].replace('M', 2)
data['tourney_level'] = data['tourney_level'].replace('F', 3)
data['tourney_level'] = data['tourney_level'].replace('G', 4)

In [47]:
data

,surface,tourney_level,winner_id,winner_entry,winner_hand,winner_ht,winner_age,loser_id,loser_entry,loser_hand,loser_ht,loser_age,minutes,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,0,1,103163,0,0,188.0,21.7,101543,0,1,180.0,31.1,108.0,11.0,1612.0,63.0,595.0
1,0,1,102607,1,0,190.0,24.5,102644,0,1,183.0,24.3,85.0,211.0,157.0,49.0,723.0
2,0,1,103252,0,0,175.0,21.3,102238,0,0,173.0,26.5,56.0,48.0,726.0,59.0,649.0
3,0,1,103507,0,0,183.0,19.9,103819,0,0,185.0,18.4,68.0,45.0,768.0,61.0,616.0
4,0,1,102103,1,0,180.0,27.3,102765,0,0,185.0,23.7,115.0,167.0,219.0,34.0,873.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65922,0,1,126610,0,0,196.0,25.4,200000,0,0,193.0,21.1,NaN,7.0,5173.0,11.0,3368.0
65923,0,1,106421,0,0,198.0,25.6,133430,0,1,185.0,22.4,NaN,2.0,10575.0,12.0,3310.0
65924,0,1,126094,0,0,188.0,23.9,106043,0,0,170.0,29.0,NaN,5.0,6130.0,15.0,2800.0
65925,0,1,100644,0,0,198.0,24.4,104545,0,0,206.0,36.4,NaN,4.0,7760.0,22.0,2171.0
65926,0,1,134770,0,0,183.0,22.7,124187,0,0,211.0,24.0,NaN,10.0,3440.0,19.0,2341.0

In [48]:
## Look for NaN values in the data
#data.isnull().sum()

# Drop rows with NaN values
data = data.dropna()
data.isnull().sum()

surface               0
tourney_level         0
winner_id             0
winner_entry          0
winner_hand           0
winner_ht             0
winner_age            0
loser_id              0
loser_entry           0
loser_hand            0
loser_ht              0
loser_age             0
minutes               0
winner_rank           0
winner_rank_points    0
loser_rank            0
loser_rank_points     0
dtype: int64

In [49]:
data

,surface,tourney_level,winner_id,winner_entry,winner_hand,winner_ht,winner_age,loser_id,loser_entry,loser_hand,loser_ht,loser_age,minutes,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,0,1,103163,0,0,188.0,21.7,101543,0,1,180.0,31.1,108.0,11.0,1612.0,63.0,595.0
1,0,1,102607,1,0,190.0,24.5,102644,0,1,183.0,24.3,85.0,211.0,157.0,49.0,723.0
2,0,1,103252,0,0,175.0,21.3,102238,0,0,173.0,26.5,56.0,48.0,726.0,59.0,649.0
3,0,1,103507,0,0,183.0,19.9,103819,0,0,185.0,18.4,68.0,45.0,768.0,61.0,616.0
4,0,1,102103,1,0,180.0,27.3,102765,0,0,185.0,23.7,115.0,167.0,219.0,34.0,873.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65896,0,0,105827,0,0,183.0,30.0,133018,0,0,193.0,25.2,187.0,540.0,62.0,484.0,76.0
65912,0,0,105967,0,0,185.0,29.4,206750,0,2,185.0,21.3,80.0,119.0,680.0,818.0,23.0
65916,0,0,200416,0,0,185.0,23.3,106397,0,0,193.0,26.4,90.0,905.0,16.0,767.0,27.0
65918,0,0,123795,0,2,183.0,25.0,207669,0,2,191.0,21.9,124.0,170.0,427.0,671.0,38.0
65919,0,0,117356,0,0,185.0,26.0,105208,0,0,190.0,33.0,65.0,176.0,408.0,196.0,359.0